@model List<Bar1.Models.Admin>
@{
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html lang="en">

<head>
</head>
<body>
    <div>
        <div class="grillaTitulo parpadeo">
            >
            <label>Ingrese sus datos:</label>
        </div>
        <form action="Ingresar" method="get">
            <div>
                <input type="text" value="Ingrese su Usuario" name="usuario" />
            </div>
            <div>
                <input type="text" value="Ingrese su Contraseña" name="pass" />
            </div>
            <div>
                <input type="submit" value="Aceptar" />
            </div>
        </form>
    </div>
</body>
</html>