
/*HOME*/

body {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url("../Assets/prueba.png") !important;
    color: white;
}

.titulos {
    color: snow;
}

#div-grilla {
    width: 99%;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
}

#ul-grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}



#div-grilla > button {
    display: inline-block;
    width: 30%;
}

.div-especial {
    display: inline-block;
    text-align-last: center;
    margin: 25px;
    width: 100%;
    text-align: center;
}


.img-carrousel {
    display: inline-block;
    width: 365px;
    height: 350px !important;
    margin-left: auto;
    margin-right: auto;
}

.img-grilla {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 30px;
    border: 6px ridge rgb(50,50,50);
    border-radius: 15px 15px 15px 15px;
}

    .img-grilla:hover {
        border: 6px ridge rgb(285,169,34);
        box-shadow: 3px 2px 3px 2px rgba(265,149,14,0.3);
        color: #8E00FF;
        transition: 1s;
    }

.img-especial {
    display: inline-flex;
    justify-content: center;
    width: 30%;
    margin: 25px;
}

.imgPresentacion {
    display: inline-flex;
    width: 30%;
    justify-content: center;
    margin: 25px;
}

    .imgPresentacion > img {
        display: inline-block;
        width: 350px;
        margin: 25px;
    }

.menuContainer {
    display: inline-block;
    width: 55%;
    margin: 30px 15px 30px 125px;
    padding: 15px;
    background: rgb(142,142,142);
    background: radial-gradient(circle, rgba(142,142,142,0.1) 0%, rgba(0,0,0,1) 100%);
    border: 0px solid;
    border-radius: 15px;
    color: rgba(100,100,100,0.8);
}

    .menuContainer:hover {
        background: rgb(172,172,172);
        background: radial-gradient(circle, rgba(172,172,172,0.2) 0%, rgba(0,0,0,1) 100%);
        cursor: pointer;
        transition: 1s;
    }

.precio > h3 {
    font-size: 15px;
}

.precio > h4 {
    font-size: 19px;
}

.grillaTitulo > h2 {
    font-size: 22px;
}

.menuContainer:hover > .grillaTitulo > h2 {
    color: #8E00FF;
    transition: 1s;
}

.menuContainer:hover > .descripcion > .precio > h3 {
    color: rgb(265,149,14);
    transition: 1s;
}

.menuContainer:hover > .descripcion > .precio > h4 {
    color: rgb(265,149,14);
    transition: 1s;
}

.menuContainer:hover > .Img > .img-grilla {
    border: 6px ridge rgb(285,169,34);
    box-shadow: 3px 2px 3px 2px rgba(265,149,14,0.3);
    transition: 1s;
}

.precio > input {
    display: inline-block;
    width: 77%;
    margin: 0px 5px 0px 5px;
    border: 6px ridge rgb(50,50,50);
    border-radius: 15px 5px 15px 5px;
    color: rgb(100,100,100);
    background-color: transparent;
    outline: none;
}

    .precio > input:hover {
        border: 6px ridge rgb(285,169,34);
        box-shadow: 3px 2px 3px 2px rgba(265,149,14,0.3);
        color: #8E00FF;
        text-shadow: 3px 2px 3px 2px #8E00FF;
        transition: 1s;
        background: radial-gradient(circle, rgba(172,172,172,0.2) 0%, rgba(0,0,0,1) 100%);
    }

/*Compras*/

.continuarCompra{
    background-color:darkblue !important; 
}

.contenedorPrincipal {
    display: inline-block;
    width: 100%;
}

.continuarComprando {
    display: inline-block;
    width: 100%;
}

    .continuarComprando > input {
        margin: 20px;
        width: 55%;
        background: rgb(0,0,0);
        color: rgb(100,100,100);
        border: 6px ridge rgb(50,50,50);
        border-radius: 15px 5px 15px 5px;
    }

        .continuarComprando > input:hover {
            background: radial-gradient(circle, rgba(0,0,0,0.6) 0%, rgba(28,28,28,0.6) 0%, rgba(0,0,0,0.6) 94%, rgba(0,0,0,0.6) 100%);
            border: 6px ridge rgb(285,169,34);
            box-shadow: 3px 2px 3px 2px rgb(255 149 14 / 30%);
            color: #8E00FF;
            text-shadow: 3px 2px 3px 2px #8E00FF;
            transition: 1s;
        }

.contenedorPrincipalTabla {
    display: inline-block;
    width: 100%;
}

.btable {
    display: inline-block;
    width: 100%;
}

.tablaContenedor {
    display: inline-flex;
}

.confirmaPedido {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

    .confirmaPedido > input, .vinculo {
        display: inline-block;
        width: 40%;
        margin: 27px 5px 0px 5px;
        border: 6px ridge rgb(50,50,50);
        border-radius: 15px 5px 15px 5px;
        color: rgb(100,100,100);
        background-color: transparent;
        outline: none;
        background: radial-gradient(circle, rgba(0,0,0,0.6) 0%, rgba(28,28,28,0.6) 0%, rgba(0,0,0,0.6) 94%, rgba(0,0,0,0.6) 100%);
    }

        .confirmaPedido > input:hover {
            border: 6px ridge rgb(285,169,34);
            box-shadow: 3px 2px 3px 2px rgb(255 149 14 / 30%);
            color: #8E00FF;
            text-shadow: 3px 2px 3px 2px #8E00FF;
            transition: 1s;
        }

.contenedorPrincipal {
    display: inline-block;
    width: 100%;
}

.containerConfimacion {
    display: inline-flex;
    width: 100%;
    border: 1px solid white;
}

/*CONTACTO*/
.info {
    display: inline-block;
    text-align-last: center;
    width: 100%;
}

    .info > img {
        display: inline-block;
        width: 65%;
        border: 6px ridge rgb(50,50,50);
        border-radius: 15px 15px 15px 15px;
        margin: 20px;
    }

/*LAYOUT*/
.grillaTitulo {
    color: white;
}

#laycontainer {
    display: inline-block;
    justify-items: center;
    fill: Background;
    align-items: stretch;
    width: 100%;
}

.misBotones {
    display: inline-block;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.6) 0%, rgba(28,28,28,0.6) 0%, rgba(0,0,0,0.6) 94%, rgba(0,0,0,0.6) 100%);
    color: black;
    border: 2px solid black;
    margin: 40px;
    padding: 20px;
    margin: inherit;
    display: inline-flex;
    width: 100%;
}

.logo {
    display: inline-block;
    width: 25%;
}

    .logo > img {
        width: 500px;
    }

.imglay {
    display: inline-block;
    width: 70%;
}

.centro {
    display: inline-block;
    text-align: center;
    align-self: flex-end;
    margin-bottom: 15px;
    width: 50%;
}

    .centro > input {
        display: inline-block;
        width: 27%;
        margin: 0px 5px 0px 5px;
        border: 6px ridge rgb(50,50,50);
        border-radius: 15px 5px 15px 5px;
        color: rgb(100,100,100);
        background-color: transparent;
        outline: none;
    }

        .centro > input:hover {
            border: 6px ridge rgb(285,169,34);
            box-shadow: 3px 2px 3px 2px rgba(265,149,14,0.3);
            color: #8E00FF;
            text-shadow: 3px 2px 3px 2px #8E00FF;
            transition: 1s;
            background: radial-gradient(circle, rgba(172,172,172,0.2) 0%, rgba(0,0,0,1) 100%);
        }

.contenedorBuscador {
    display: inline-flex !important;
    align-items: inherit;
}

.izquierda {
    display: inline-block;
    align-self: center;
    width: 30%;
}

    .izquierda > input {
        display: inline-block;
        width: 27%;
        margin: 0px 5px 0px 5px;
        border: 6px ridge rgb(50,50,50);
        border-radius: 15px 5px 15px 5px;
        color: rgb(100,100,100);
        background-color: transparent;
        outline: none;
    }

        .izquierda > input[type=text] {
            width: 66%;
            color: #8E00FF;
        }

        .izquierda > input[type=image] {
            width: 50px;
        }

        .izquierda > input:hover {
            border: 6px ridge rgb(285,169,34);
            box-shadow: 3px 2px 3px 2px rgba(265,149,14,0.3);
            color: #8E00FF;
            text-shadow: 3px 2px 3px 2px #8E00FF;
            transition: 1s;
            background: radial-gradient(circle, rgba(172,172,172,0.2) 0%, rgba(0,0,0,1) 100%);
        }

.delivery {
    display: inline-block;
    width: 100%;
}

    .delivery > input {
        display: inline-block;
        width: 100%;
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,0.6) 0%, rgba(28,28,28,0.6) 0%, rgba(0,0,0,0.6) 94%, rgba(0,0,0,0.6) 100%);
        color: rgb(100,100,100);
    }

        .delivery > input:hover {
            color: #8E00FF;
            background-color: #E18B04;
            transition: 1s;
        }

.botonesFooter {
    display: inline-flex;
    justify-content: space-between;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.6) 0%, rgba(28,28,28,0.6) 0%, rgba(0,0,0,0.6) 94%, rgba(0,0,0,0.6) 100%);
    width: 100%;
    color: white;
}

.footercontain {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

.botonesFooter > span {
    display: inline-flex;
    align-items: center;
    margin: 0px 20px 0px 20px;
}

.links {
    display: inline-block;
    justify-content: flex-end;
}

.iconos {
    display: inline-flex;
    width: 16%;
    justify-content: end;
    align-items: center;
}

    .iconos > img {
        display: inline-block;
        width: 30px;
        height: 36px;
        margin: 0px 5px 10px 0px;
    }

.direcciones {
    display: inline-block;
    text-align: right;
    margin-left: 80px;
}


/*CARRITO*/

.continuarCompra {
    display: inline-block;
    text-align: center;
    background-color: hotpink;
}

.split {
    display: inline-block !important;
    width: 50%;
    padding-top: 20px;
    color: white;
}

.imagenIcono {
    width: 70px !important;
    height: 70px !important;
}

.inputCorto {
    width: 40%;
    display: inline-flex;
    height: 33px;
    margin: 0px 5px 0px 5px;
    border: 6px ridge rgb(50,50,50);
    border-radius: 15px 5px 15px 5px;
    color: rgb(100,100,100);
    background-color: transparent;
    outline: none;
}

#direccion {
    width: 40%;
    display: inline-flex;
    height: 33px;
    margin: 0px 5px 0px 5px;
    border: 6px ridge rgb(50,50,50);
    border-radius: 15px 5px 15px 5px;
    color: rgb(100,100,100);
    background-color: transparent;
    outline: none;
}

.inputLargo {
    width: 90%;
    display: inline-flex;
    height: 33px;
    margin: 0px 5px 0px 5px;
    border: 6px ridge rgb(50,50,50);
    border-radius: 15px 5px 15px 5px;
    color: rgb(100,100,100);
    background-color: transparent;
    outline: none;
}

#direccion:hover {
    border: 6px ridge rgb(285,169,34);
    box-shadow: 3px 2px 3px 2px rgba(265,149,14,0.3);
    color: #8E00FF;
    text-shadow: 3px 2px 3px 2px #8E00FF;
    transition: 1s;
    background: radial-gradient(circle, rgba(172,172,172,0.2) 0%, rgba(0,0,0,1) 100%);
}

.inputCorto:hover {
    border: 6px ridge rgb(285,169,34);
    box-shadow: 3px 2px 3px 2px rgba(265,149,14,0.3);
    color: #8E00FF;
    text-shadow: 3px 2px 3px 2px #8E00FF;
    transition: 1s;
    background: radial-gradient(circle, rgba(172,172,172,0.2) 0%, rgba(0,0,0,1) 100%);
}


.inputLargo:hover {
    border: 6px ridge rgb(285,169,34);
    box-shadow: 3px 2px 3px 2px rgba(265,149,14,0.3);
    color: #8E00FF;
    text-shadow: 3px 2px 3px 2px #8E00FF;
    transition: 1s;
    background: radial-gradient(circle, rgba(172,172,172,0.2) 0%, rgba(0,0,0,1) 100%);
}


/* Control the left side */
.left {
    display: inline-flex;
    left: 0;
}

/* Control the right side */
.right {
    display: inline-flex;
    right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

    /* Style the image inside the centered container, if needed */
    .centered img {
        display: inline-block;
        width: 150px;
        border-radius: 50%;
    }

#sliderContainer {
    display: inline-block;
    width: 100%;
}


/*Prueba de parpadeo*/

.parpadeo {
    animation-name: parpadeo;
    animation-duration: 5.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.parpadeoLeve {
    animation-name: parpadeo;
    animation-duration: 5.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* Confimacion Carrito*/
.containerConfirmacion {
    display: inline-flex;
    width: 100%;
}

.containerBotones {
    width: 80%;
    display: inline-block;
}

.botonIzquierda {
    display: inline-block;
    text-align: left;
    width: 50%;
}

.botonDerecha {
    display: inline-block;
    width: 50%;
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeoLeve {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1.0;
    }
}
