
@{
    ViewBag.Title = "Contacto";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" media="screen, projection" />
</head>

<body>


    <div class="info">
        <h1>Sobre Nosotros</h1>
        <h2> Somos AltoBar abiertos desde el año 1980, y calificado como uno de los mejores lugares para tomar algo en toda Baires</h2>
        <img class="img" src="~/Assets/DK.png" alt="Chicago" />
        <h2> Hacemos el trago que se te ocurra, te lo enviamos a domicilio, rapido, sencillo y de una forma segura</h2>
    </div>


</body>
</html>